
@{
    Layout = null;
}

<li class="dropdown user-menu show">
  <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
    <img  src="@($"data:image/png;base64,{ViewData["photoUser"]}")" class="user-image" alt="User Image">
    <span class="d-none d-lg-inline-block">@ViewData["userName"]</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <!-- User image -->
    <li class="dropdown-header">
      <img src="@($"data:image/png;base64,{ViewData["photoUser"]}")" class="img-circle" alt="User Image">
      <div class="d-inline-block">
        @ViewData["userName"] <small class="pt-1">@ViewData["emailUser"]</small>
      </div>
    </li>
    <li class="dropdown-footer">
      <a asp-controller="Home" asp-action="LogOut"> <i class="mdi mdi-logout"></i> Log Out </a>
    </li>
  </ul>
</li>