<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Sleek Dashboard - Free Bootstrap 4 Admin Dashboard Template and UI Kit. It is very powerful bootstrap admin dashboard, which allows you to build products like admin panels, content management systems and CRMs etc.">
  
    <title>SIMPLE - POS</title>
    
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />

    <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
  

    <link id="sleek-css" rel="stylesheet" href="~/css/sleek.css" />
    <link href="~/plugins/toastr/toastr.css" rel="stylesheet">
    <link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <link href="~/img/favicon.png" rel="shortcut icon" />
    <style>
        .sa-icon{
            margin-bottom: 35px !important;
        }

        div.sweet-alert > p.lead {
            margin-bottom: 10px !important;
        }
    </style>
    @await RenderSectionAsync("StylesPOS", required: false)
  </head>
<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">


    <!-- ====================================
    ——— WRAPPER
    ===================================== -->
    <div class="wrapper">


        <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <aside class="left-sidebar bg-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href="#" title="Example Store">
                <span class="brand-name text-truncate">Example Store</span>
              </a>
            </div>

            <!-- begin sidebar scrollbar -->
            <div class="" data-simplebar style="height: 100%;">
              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">

            @*<li class="has-sub">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
                    aria-expanded="false" aria-controls="dashboard">
                    <i class="mdi mdi-view-dashboard-outline"></i>
                    <span class="nav-text">Admin</span> <b class="caret"></b>
                  </a>
                  <ul class="collapse " id="dashboard" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class="sidenav-item-link" href="@Url.Action("DashBoard","Admin")">
                          <span class="nav-text">DashBoard</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="@Url.Action("Users","Admin")">
                          <span class="nav-text">Users</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>*@

            @*    <li class="has-sub">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#app"
                    aria-expanded="false" aria-controls="app">
                    <i class="mdi mdi-package-variant-closed"></i>
                    <span class="nav-text">Inventory</span> <b class="caret"></b>
                  </a>
                  <ul class="collapse " id="app" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class="sidenav-item-link" href="@Url.Action("Categories","Inventory")">
                          <span class="nav-text">Categories</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="@Url.Action("Products","Inventory")">
                          <span class="nav-text">Products</span>
                        </a>
                      </li>

                    </div>
                  </ul>
                </li>*@


           @*     <li class="has-sub">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#components"
                    aria-expanded="false" aria-controls="components">
                    <i class="mdi mdi-shopping"></i>
                    <span class="nav-text">Sales</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse " id="components" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class="sidenav-item-link" href="@Url.Action("NewSale","Sales")">
                          <span class="nav-text">New sale</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="sidenav-item-link" href="@Url.Action("SalesHistory","Sales")">
                          <span class="nav-text">Sales history</span>
                        </a>
                      </li>

                    </div>
                  </ul>
                </li>*@

                @*<li class="has-sub ">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#icons"
                    aria-expanded="false" aria-controls="icons">
                    <i class="mdi mdi-chart-bar"></i>
                    <span class="nav-text">Reports</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse" id="icons" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class="sidenav-item-link" href="@Url.Action("SalesReport","Reports")">
                          <span class="nav-text">Sales report</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>*@
                @await Component.InvokeAsync("Menu")
              </ul>
            </div>

       
          </div>
        </aside>


          <!-- ====================================
        ——— PAGE WRAPPER
        ===================================== -->
        <div class="page-wrapper">
          
          <!-- Header -->
          <header class="main-header " id="header">
            <nav class="navbar navbar-static-top navbar-expand-lg">
              <!-- Sidebar toggle button -->
              <button id="sidebar-toggler" class="sidebar-toggle">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <!-- search form -->
              <div class="search-form d-none d-lg-inline-block">
                
              </div>

              <div class="navbar-right ">
                <ul class="nav navbar-nav">
   
                  <!-- User Account -->
                 @* <li class="dropdown user-menu">
                    <button href="#" class="nav-link">
                      <img src="assets/img/user/user.png" class="user-image" alt="User Image" />
                      <span class="d-none d-lg-inline-block">Abdus Salam</span>
                    </button>
                  </li>*@
                  @await Component.InvokeAsync("MenuUser")
                </ul>
              </div>
            </nav>
          </header>

          
          <!-- ====================================
          ——— CONTENT WRAPPER
          ===================================== -->
          <div class="content-wrapper">
            <div class="content">
                @RenderBody()
            </div> <!-- End Content -->
        </div> <!-- End Content Wrapper -->
    
    
    <!-- Footer -->
    <footer class="footer mt-auto">
      <div class="copyright bg-white">
        <p>
          Copyright &copy; <span id="copy-year"></span> a template by <a class="text-primary" href="https://themefisher.com" target="_blank">Themefisher</a>.
        </p>
      </div>
      <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").innerHTML = year;
      </script>
    </footer>

    </div> <!-- End Page Wrapper -->
  </div> <!-- End Wrapper -->


    <!-- Javascript -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sleek.js"></script>
    <script src="~/plugins/sweetalert/sweetalert.js"></script>

    
	<script src="~/plugins/toastr/toastr.min.js"></script>

	<script src="~/plugins/loadingoverlay/loadingoverlay.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@*@RenderBody()
*@