@using PointOfSale.Models;
@model VMShop;

<!DOCTYPE html>
<html lang="es">
<head>
	<title>@Model.Nombre</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
	<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="~/css/shop/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="~/css/shop/animate.css">

	<link rel="stylesheet" href="~/css/shop/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/shop/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/shop/magnific-popup.css">

	<link rel="stylesheet" href="~/css/shop/aos.css">

	<link rel="stylesheet" href="~/css/shop/ionicons.min.css">

	<link rel="stylesheet" href="~/css/shop/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/css/shop/jquery.timepicker.css">


	<link rel="stylesheet" type="text/css" href="~/css/shop/flaticon.css">
	<link rel="stylesheet" type="text/css" href="~/css/shop/icomoon.css">
	<link rel="stylesheet" type="text/css" href="~/css/shop/style.css">
	<link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />


</head>
<body class="goto-here" style="overflow-x: hidden">

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">

		<div class="container justify-content-center align-items-center">
			@if (Model.IsLogin)
			{
				<div>
					<a href="/Access/Login" class="btn btn-info" style="margin-right: 30px"><i class="mdi mdi-login-variant mdi-18px mdi-rotate-180"></i></a>
				</div>
			}
			<a href="/Shop/Index" class="navbar-brand" style="white-space: normal;text-align: center;">@Model.Nombre</a>
		</div>
	</nav>

	<hr style="margin-top: 0px;" />

	<div class="content-wrapper">
		<div class="content">
			@RenderBody()
		</div>
	</div>

	<!-- Footer -->
	<footer class="footer mt-auto row" style="background-color: black;text-align-last: center;">
		<div class="col-md-12 row" style="padding: 30px 10px 10px 10px;">

			<div class="col-md-4 d-flex flex-column">

				<div class="d-flex justify-content-center">
					<div style="text-align-last: start;">
						<div class="col-md topper">
							<span class="text" phoneNumber="@Model.Whatsapp" id="txtPhone"><i class="mdi mdi-whatsapp mdi-18px"></i>&nbsp;  @Model.Whatsapp</span>
						</div>
						@if (!string.IsNullOrWhiteSpace(@Model.Direccion))
						{
							<div class="col-md topper">
								<span class="text"><i class="mdi mdi-map-marker mdi-18px"></i>&nbsp; @Model.Direccion</span>
							</div>
						}
						@if (!string.IsNullOrWhiteSpace(@Model.Email))
						{
							<div class="col-md topper">
								<span class="text"><i class="mdi mdi-email mdi-18px"></i>&nbsp; @Model.Email</span>
							</div>
						}
					</div>
				</div>


				<div class="d-flex justify-content-center mt-auto">

					<div class="">
						@{
							if (!string.IsNullOrWhiteSpace(@Model.Facebook))
							{
								<a style="margin-right: 15px;" href="https://www.facebook.com/@Model.Facebook" target=”_blank”><span class="mdi mdi-facebook mdi-light mdi-48px"></span></a>
							}

							if (!string.IsNullOrWhiteSpace(@Model.Twitter))
							{
								<a style="margin-right: 20px;" href="https://twitter.com/@Model.Twitter" target=”_blank”><span class="mdi mdi-twitter mdi-light mdi-48px"></span></a>
							}

							if (!string.IsNullOrWhiteSpace(@Model.Instagram))
							{
								<a style="margin-right: 20px;" href="https://www.instagram.com/@Model.Instagram" target=”_blank”><span class="mdi mdi-instagram mdi-light mdi-48px"></span></a>
							}

							if (!string.IsNullOrWhiteSpace(@Model.Tiktok))
							{
								<a href="https://www.tiktok.com/@Model.Tiktok" target="_blank" style="margin-right: 20px;align-content: center;text-align: center;">
									<img src="~/images/tiktok.png" alt="TikTok" width="42" height="42" style="vertical-align: initial;" />
								</a>
							}

							if (!string.IsNullOrWhiteSpace(@Model.Youtube))
							{
								<a style="margin-right: 20px;" href="https://www.youtube.com/@Model.Youtube" target=”_blank”><span class="mdi mdi-youtube mdi-light mdi-48px"></span></a>
							}
						}
					</div>

				</div>
			</div>

			<div class="col-md-4 d-flex flex-column">

				<div class="d-flex justify-content-center">
					<div style="text-align-last: start;">
						<div class="col-md topper">
							<a href="/Shop/PoliticasPrivacidadCookies" target="_blank">
								<span class="text" style="font-size: 12px">POLÍTICAS DE PRIVACIDAD & COOKIES</span>
							</a>
						</div>
						<div class="col-md topper">
							<a href="/Shop/TerminosCondiciones" target="_blank">
								<span class="text" style="font-size: 12px">TÉRMINOS Y CONDICIONES</span>
							</a>
						</div>
					</div>
				</div>


				<div class="d-flex justify-content-center mt-auto">

					<div class="copyright text-white">
						Copyright © <span id="copy-year">2025</span>.
					</div>

				</div>
			</div>

			<div class="col-md-4">
				<img src="~/Shop/logo.jpeg" style="max-width:200px;" class="rounded mx-auto d-block" alt="Logo" />
			</div>

		</div>


	</footer>

	<script>
		var d = new Date();
		var year = d.getFullYear();
		document.getElementById("copy-year").innerHTML = year;
	</script>
</body>
</html>
