@using PointOfSale.Models;
@model VMShop;
@{
	ViewData["Title"] = "Shop";
	// Layout = "";
	Layout = "~/Views/Shop/_LayoutWeb.cshtml";
}


<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

<link rel="stylesheet" href="~/css/shop/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/css/shop/animate.css">

<link rel="stylesheet" href="~/css/shop/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/shop/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/shop/magnific-popup.css">

<link rel="stylesheet" href="~/css/shop/aos.css">

<link rel="stylesheet" href="~/css/shop/ionicons.min.css">

<link rel="stylesheet" href="~/css/shop/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/css/shop/jquery.timepicker.css">


<link rel="stylesheet" type="text/css" href="~/css/shop/flaticon.css">
<link rel="stylesheet" type="text/css" href="~/css/shop/icomoon.css">
<link rel="stylesheet" type="text/css" href="~/css/shop/style.css">
<link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />

<body class="goto-here" style="overflow-x: hidden">

	<p><a href="/Shop/Lista" class="btn btn-primary" id="btnCompras">Ir de compras</a></p>

	<section id="home-section" class="hero">
		<div class="home-slider owl-carousel">
			<div class="slider-item" style="background-image: url(bg_1.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

						<div class="col-md-12 ftco-animate text-center">
							<h1 class="mb-2">Siempre frutas y verduras &amp; frescas</h1>
							<h2 class="subheading mb-4">Productos únicos e increibles</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item" style="background-image: url(bg_2.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

						<div class="col-sm-12 ftco-animate text-center">
							<h1 class="mb-2">100% Fresco &amp; Organico</h1>
							<h2 class="subheading mb-4">Hacemos envios, directo a tu mesa</h2>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row no-gutters ftco-services">
				<div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-shipped"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">ENVIOS GRATIS</h3>
							<span>Ordenes superiores a $@Convert.ToInt32(Model.MontoEnvioGratis)</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-diet"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">SIEMPRE FRESCOS</h3>
							<span>Directo del mercado</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-award"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">CALIDAD SUPERIOR</h3>
							<span>Los mejores productos</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	@{
		if (Model.Products.Any(_ => _.Destacado))
		{
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center mb-3 pb-3">
						<div class="col-md-12 heading-section text-center ftco-animate">
							<span class="subheading">Nuestros Productos</span>
							<h2 class="mb-4">Destacados</h2>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
					@{
						var random = new Random();
						var featuredProducts = Model.Products.Where(_ => _.Destacado)
						.OrderBy(_ => random.Next())
						.Take(8)
						.ToList();
					}

						@foreach (var prod in featuredProducts)
						{
							<div class="col-md-6 col-lg-3 ftco-animate">
								<div class="product">
									<a href="javascript:void(0)" class="img-prod" style="text-align: center;">
										<img class="img-fluid" src="data:image/png;base64,@prod.PhotoBase64" alt="Imagen" style="min-height: 160px; max-height: 160px; width:auto;">
										<div class="tags-container">
											@foreach (var tag in prod.Tags)
											{
												<span class="status" style="background-color: @tag.Color">@tag.Nombre</span>
											}
										</div>
										<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center" style="height: 110px;">
										<h3><a href="#">@prod.Description</a></h3>
										<div class="d-flex">
											<div class="pricing">
												<p class="price"><span class="price-sale" id="price-@prod.IdProduct" precio="@prod.PriceWeb">$@prod.PriceWeb</span><small> / @prod.TipoVenta</small></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</section>
		}
	}


	@{
		if (!string.IsNullOrEmpty(Model.SobreNosotros))
		{
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center mb-3 pb-3">
						<div class="col-md-12 heading-section text-center ftco-animate">
							<h2 class="mb-4">Sobre nosotros</h2>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-8 text-center">
							<div class="ftco-animate">
								@Html.Raw(Model.SobreNosotros)
							</div>
						</div>
					</div>
				</div>
			</section>
		}
	}


	<section class="ftco-section ftco-category">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6 order-md-last align-items-stretch d-flex">
							<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(category.jpg);">
								<div class="text text-center">
									<h2>Cuidá la salud de tu hogar</h2>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(category-1.jpg);">
								<div class="text px-3 py-1">
									<h2 class="mb-0"><a href="#">Verduras</a></h2>
								</div>
							</div>
							<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(category-2.jpg);">
								<div class="text px-3 py-1">
									<h2 class="mb-0"><a href="#">Frutas</a></h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(image_6.jpg);">
						<div class="text px-3 py-1">
							<h2 class="mb-0"><a href="#">Ensaladas</a></h2>
						</div>
					</div>
					<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(category-4.jpg);">
						<div class="text px-3 py-1">
							<h2 class="mb-0"><a href="#">Dietetica</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

@* 	<section class="ftco-section img" style="background-image: url(bg_3.jpg);">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
					<span class="subheading">El mejor precio para ti</span>
					<h2 class="mb-4">Con ofertas todos los dias</h2>
				</div>
			</div>
		</div>
	</section> *@


	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


	<script src="~/js/shop/jquery.min.js"></script>
	<script src="~/js/shop/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/js/shop/popper.min.js"></script>
	<script src="~/js/shop/bootstrap.min.js"></script>
	<script src="~/js/shop/jquery.easing.1.3.js"></script>
	<script src="~/js/shop/jquery.waypoints.min.js"></script>
	<script src="~/js/shop/jquery.stellar.min.js"></script>
	<script src="~/js/shop/owl.carousel.min.js"></script>
	<script src="~/js/shop/jquery.magnific-popup.min.js"></script>
	<script src="~/js/shop/aos.js"></script>
	<script src="~/js/shop/jquery.animateNumber.min.js"></script>
	<script src="~/js/shop/bootstrap-datepicker.js"></script>
	<script src="~/js/shop/scrollax.min.js"></script>
	<script src="~/js/views/shop.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=yourMapsAPIKey&libraries=geometry"></script>

</body>
</html>