@using PointOfSale.Models;
@model List<VMProduct>;

<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

<link rel="stylesheet" href="~/css/shop/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/css/shop/animate.css">

<link rel="stylesheet" href="~/css/shop/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/shop/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/shop/magnific-popup.css">

<link rel="stylesheet" href="~/css/shop/aos.css">

<link rel="stylesheet" href="~/css/shop/ionicons.min.css">

<link rel="stylesheet" href="~/css/shop/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/css/shop/jquery.timepicker.css">


<link rel="stylesheet" type="text/css" href="~/css/shop/flaticon.css">
<link rel="stylesheet" type="text/css" href="~/css/shop/icomoon.css">
<link rel="stylesheet" type="text/css" href="~/css/shop/style.css">

<div class="row">

    @foreach (var prod in Model.OrderBy(_ => _.Description))
    {
        <div class="col-md-6 col-lg-2 ftco-animate">
            <div class="product">
                <a href="javascript:void(0)" class="img-prod" style="text-align: center;">
                    <img class="img-fluid" src="data:image/png;base64,@prod.PhotoBase64" alt="Colorlib Template" style="min-height: 160px; max-height: 160px; width:auto;">
                    @*<span class="status">30%</span>*@
                    <div class="overlay"></div>
                </a>
                <div class="text pb-1 px-3 text-center" style="height: 110px;">
                    <hr />
                    <h3><a href="javascript:void(0)" descProd="@prod.Description" id="desc-@prod.IdProduct">@prod.Description</a></h3>
                    <div class="d-flex">
                        <div class="pricing">
                            @*<p class="price"><span class="mr-2 price-dc">$@prod.Price</span><span class="price-sale">$@prod.PriceWeb</span></p>*@
                            <p class="price"><span class="price-sale" id="price-@prod.IdProduct" precio="@prod.PriceWeb">$@prod.PriceWeb</span><small> / @prod.TipoVenta</small></p>
                            <small>@prod.Comentario</small>
                        </div>
                    </div>
                    <div class="bottom-area d-flex px-3" id="bottom-area-@prod.IdProduct">
                        <div class="m-auto d-flex">
                            <a href="javascript:void(0)" class="add-to-cart d-flex justify-content-center align-items-center text-center less-button" idProduct="@prod.IdProduct" style="background: #f87272;">
                                <span>-</span>
                            </a>
                            <input type="text" value="0" typeInput="@prod.TipoVenta" id="prod-@prod.IdProduct" class="form-outline w-50 input-producto" style="border-color:lightgray; text-align:center; background-color:white" disabled>
                            <a href="javascript:void(0)" class="remove-to-cart buy-now d-flex justify-content-center align-items-center mx-1 pluss-button" idProduct="@prod.IdProduct">
                                <span>+</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/js/shop/jquery.min.js"></script>
<script src="~/js/shop/jquery-migrate-3.0.1.min.js"></script>
<script src="~/js/shop/popper.min.js"></script>
<script src="~/js/shop/bootstrap.min.js"></script>
<script src="~/js/shop/jquery.easing.1.3.js"></script>
<script src="~/js/shop/jquery.waypoints.min.js"></script>
<script src="~/js/shop/jquery.stellar.min.js"></script>
<script src="~/js/shop/jquery.magnific-popup.min.js"></script>
<script src="~/js/shop/aos.js"></script>
<script src="~/js/views/productsShop.js"></script>
