@using PointOfSale.Models;
@model MenuView;
@{
    Layout = null;
}

@{
    string menucollapse = "menucollapse";
    int correlative = 1;
}

@foreach (var menu in Model.Menus)
{
    @if (menu.Icon != null && menu.Controller != null)
    {
        <li class="has-sub">
            <a class="sidenav-item-link" href="@($"/{menu.Controller}/{menu.PageAction}")">
                <i class="@menu.Icon"></i>
                <span class="nav-text">@menu.Description</span>
            </a>
        </li>
    }
    else
    {
        <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="@($"#{menucollapse}{correlative}")"
               aria-expanded="false" aria-controls="dashboard">
                <i class="@menu.Icon"></i>
                <span class="nav-text">@menu.Description</span> <b class="caret"></b>
            </a>
            <ul class="collapse " id="@($"{menucollapse}{correlative}")" data-bs-parent="#sidebar-menu">
                <div class="sub-menu">

                    @foreach (var submenu in menu.SubMenus.OrderBy(_ => _.Description))
                    {
                    <li class="">
                        <a class="sidenav-item-link" href="@($"/{submenu.Controller}/{submenu.PageAction}")">
                            <span class="nav-text">@submenu.Description</span>
                        </a>
                    </li>
                    }
                </div>
            </ul>
        </li>
    }

    correlative = correlative + 1;

}
<br />
<br />
@{
    var buttonClass = Model.TurnoAbierto ? "btn-outline-success" : "btn-outline-danger";
    var buttonText = Model.TurnoAbierto ? "Cerrar Turno" : "Abrir Turno";
}

<button class="btn @buttonClass" id="btnAbrirCerrarTurno" style="margin-left:3px; margin-right:3px">@buttonText</button>




