@using PointOfSale.Models;
@model List<VMNotifications>;
@{
	Layout = null;
}

@section StylesPOS {

	<link href="~/plugins/data-tables/buttons.bootstrap4.min.css" rel="stylesheet">
}

<style>
	.notification-class {
		max-width: 600px;
		min-width: 380px;
		border-color: lightgray;
		max-height: 450px;
		overflow-y: auto; /* Permite el scroll vertical */
		overflow-x: hidden; /* Elimina el scroll horizontal */
		white-space: normal;
		word-wrap: break-word;
		word-break: break-word;
		padding: 10px;
	}

		.notification-class a.notificacion {
			display: block;
			padding: 10px;
			border-bottom: 1px solid #ddd;
			white-space: normal; /* Permite que el texto se ajuste en varias líneas */
		}

		.notification-class .dropdown-menu {
			position: absolute;
			left: auto;
			right: 0;
			width: auto;
			min-width: 380px;
			max-width: 600px;
			overflow-wrap: break-word; /* Asegura que el texto largo se ajuste */
		}

		.notification-class a.notificacion small {
			display: block;
			margin-top: 5px;
			color: gray;
			font-size: 12px;
		}
</style>

@if (Model.Any())
{
	<ul id="listaNotificaciones" class="dropdown user-menu show" style="align-content: center; margin-right: 20px;">
		<button href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
			<span style="font-size: 10px;">
				@Model.Count
			</span>

			<i class="mdi mdi-bell mdi-24px"></i>
		</button>
		<ul class="dropdown-menu dropdown-menu-right notification-class">
			@foreach (var n in Model)
			{
				<li class="dropdown-header" style="padding: 0px;margin: 0;">
					<div class="d-inline-block" style="width: 100%">
						<a class="notificacion" id="@n.IdNotifications" accion="@n.Accion" href="#">
							@Html.Raw(n.Descripcion)
							<small class="pt-1">@n.RegistrationDate</small>
						</a>
						<span></span>
					</div>
				</li>
			}
			@if (ViewData["userRol"] != null && (Convert.ToInt32(ViewData["userRol"]) == 1))
			{
				<li style="padding: 0px;width: 100%;margin: 0;text-align: center;">
					<a id="limpiarNotificaciones" href="#">
						<i class="mdi mdi-delete me-1"></i>Limpiar todo
					</a>
				</li>
			}
		</ul>
	</ul>
}

<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/js/views/notificationsComponents.js"></script>
